// bower:scss
// endbower

span, div {
  border: 0px;
  padding: 0px;
  margin: 0px;
  line-spacing: 0px;
  display: block;
}

.castlebox {
  position: relative;
  height: 500px;
}

.tilemapbox {
  position: relative;
}

.tile {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url("../images/roguelike.png")
}

.row {
  font-size: 0px;
}