@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apple\/my\/prog\/web\/metacastle\/app\/styles\/main\.scss}line{font-family:\000034}}
span, div {
  border: 0px;
  padding: 0px;
  margin: 0px;
  line-spacing: 0px;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apple\/my\/prog\/web\/metacastle\/app\/styles\/main\.scss}line{font-family:\0000312}}
.tile {
  display: inline-block;
  width: 16px;
  height: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apple\/my\/prog\/web\/metacastle\/app\/styles\/main\.scss}line{font-family:\0000318}}
.test {
  background: url("../images/roguelike.png") 0 -17px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apple\/my\/prog\/web\/metacastle\/app\/styles\/main\.scss}line{font-family:\0000322}}
.row {
  font-size: 0px;
}
