@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apple\/my\/prog\/web\/metacastle\/app\/styles\/main\.scss}line{font-family:\000034}}
span, div {
  border: 0px;
  padding: 0px;
  margin: 0px;
  line-spacing: 0px;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apple\/my\/prog\/web\/metacastle\/app\/styles\/main\.scss}line{font-family:\0000312}}
.castlebox {
  position: relative;
  height: 500px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apple\/my\/prog\/web\/metacastle\/app\/styles\/main\.scss}line{font-family:\0000317}}
.tilemapbox {
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apple\/my\/prog\/web\/metacastle\/app\/styles\/main\.scss}line{font-family:\0000321}}
.tile {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url("../images/roguelike.png");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/apple\/my\/prog\/web\/metacastle\/app\/styles\/main\.scss}line{font-family:\0000329}}
.row {
  font-size: 0px;
}
